a i[class^="icon-"]:before, a i[class*=" icon-"]:before {
    cursor: pointer !important;
}

label.m-wrap,
input.m-wrap,
button.m-wrap,
select.m-wrap,
textarea.m-wrap {
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    max-width: 100%;
    border-radius: 1px;
    outline: none;
    box-shadow: none !important;
    border: 1px solid #BABABA;
}

html, body {
    width: 100%;
    background: #FFF;
    font-family: Arial, 'Open Sans', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    color: #333;
}

a, a:hover {
    text-decoration: none;
    color: #333;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.title {
    font-size: 13px;
}

.des {
    font-size: 12px;
    line-height: 19px;
}

.col-fixed-300 {
    display: inline-block;
    width: 300px;
}

.col-fixed-160 {
    display: inline-block;
    width: 160px;
}

.main-11 .list li a .glyphicon {
    font-size: 11px !important;
}

.clearfix {
    clear: both;
}

.fr {
    float: right;
}

.fl {
    float: left;
}

.space20 {
    margin-bottom: 20px;
}

.space8 {
    margin-bottom: 8px;
}

.inner {
    width: 1000px;
    margin: auto;
}

header {
    margin: 0;
}

header nav {
    display: inline-block;
    width: 100%;
    border-bottom: 2px solid #151515;
    border-top: 1px solid #e2e2e2;
    margin: 5px 0 0;
    padding: 3px 0;
    position: relative;
}

header nav.hid {
    height: 32px;
    overflow: hidden;
}

header nav a {
    display: inline-block;
    font-family: Arial;
    float: left;
    color: #405f9d;
    font-size: 10px;
    font-weight: bold;
    padding: 3px 6px 0;
    text-transform: uppercase;
    border-right: 1px solid #EEE;
}

header nav .home {
    font-size: 17px;
    padding-left: 0;
}

header nav a:last-child {
    border-right: none;
    padding-right: 0;
}

header nav a:hover, header nav .active {
    color: #ed1c24;
}

#btn_menu_open {
    border: 5px solid transparent;
    border-top: 5px solid #405f9d;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 0;
}

#btn_menu_open:hover {
    border-top-color: #ed1c24;
}

#div_menu_open {
    position: absolute;
    top: 27px;
    right: 0;
    z-index: 99;
    display: none;
}

#div_menu_open.open {
    display: block;
}

#div_menu_open a {
    display: block;
    float: none;
    border: none;
    background: #405f9d;
    color: #FFF;
    padding: 5px;
}

#div_menu_open a:hover {
    background: #ed1c24;
}

.top-main {
    display: inline-block;
    width: 100%;
    padding: 8px 0;
}

#breaknews {
    display: inline-block;
}

#breaknews li {
    display: inline-block;
    float: left;
    margin-right: 15px;
}

#breaknews li .title {
    margin: 0;
}

#breaknews li .title a {
    font-size: 12px;
    font-family: Arial, "Open Sans";
    line-height: 18px;
}

.fanpages a {
    width: 21px;
    height: 21px;
    display: inline-block;
    background: url(../images/fanpage.png);
    text-indent: -9999px;
}

.fanpages a.fb {
    background-position: 63px 0;
}

.fanpages a.gg {
    background-position: 42px 0;
}

.fanpages a.tt {
    background-position: 0 0;
}

.fanpages a.yt {
    background-position: 21px 0;
}

.breakcrumb {
    display: inline-block;
    width: 100%;
    padding-right: 28px;
}

.breakcrumb .letter {
    font-weight: bold;
    font-size: 13px;
}

.breakcrumb .letter-child {
    font-size: 13px;
    color: #405f9d;
}

.main-1 {
    display: inline-block;
}

.main-11 .list li {
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #e2e2e3;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.main-11 .list li:last-child {
    border: none;
}

.main-11 .list li .title {
    margin: 0;
}

.main-11 .list li a {
    font-size: 13px;
    color: #333;
    line-height: 20px;
}

.main-11 .list li a span {
    color: #ed1c24;
    position: relative;
    top: 2px;
}

.main-11 .list li:first-child .title a {
    display: inline-block;
    font-weight: bold;
}

.main-11 .list li:first-child .title {
    margin-top: 3px;
}

.main-12 .title {
    margin: 6px 0;
    line-height: 24px;
}

.main-12 h1.title a {
    font-size: 20px;
    color: #333;
    font-weight: 600;
}

.main-12 time {
    display: inline-block;
    width: 100%;
    font-size: 12px;
    color: gray;
    margin-bottom: 8px;
}

.main-12 time a {
    color: #145072;
    font-size: 13px;
}

.main-12 .des {
    font-size: 13px;
    color: #333;
    line-height: 20px;
}

.main-122 {
    display: inline-block;
    width: 100%;
}

.main-122 li {
    display: inline-block;
    float: left;
    width: 140px;
    margin-right: 8px;
}

.main-122 li:last-child {
    margin: 0;
}

.main-122 .title {
    line-height: 18px;
    font-weight: bold;
}

.main-13 {
    border: 1px solid #e2e2e3;
    margin-top: 21px;
    position: relative;
    padding: 15px 8px;
}

.main-13 .little {
    text-transform: uppercase;
    color: #000;
    font-weight: bold;
    position: absolute;
    top: -9px;
    left: 9px;
    background-color: #FFF;
    padding: 0 9px;
    font-size: 13px;
}

.main-13 .photo {
    float: right;
    margin-left: 8px;
}

.main-13 .title {
    margin: 5px 0 8px;
}

.main-13 .title a {
    font-size: 13px;
    font-weight: 600;
}

.main-13 .des a:hover {
    text-decoration: underline;
}

#box_dieutra .title {
    margin: 0;
}

#box_dieutra .title a {
    font-weight: normal;
    line-height: 21px;
}

.main-2 {
    display: inline-block;
    margin: 18px 0 30px;
    position: relative;
    width: 100%;
}

.main-2 .little {
    text-transform: uppercase;
    color: #000;
    font-weight: bold;
    position: absolute;
    top: 1px;
    left: 0;
    background: #FFF;
    padding: 0 13px 0px 0;
    font-size: 15px;
}

.main-2 .list {
    margin-top: 13px;
}

.main-2 .list li {
    display: inline-block;
    float: left;
    width: 188px;
    margin-right: 15px;
}

.main-2 .list li:last-child {
    margin: 0;
}

.main-2 .list li .title {
    margin: 5px;
    line-height: 18px;
    font-weight: bold;
}

.main-21 li {
    border-bottom: 1px solid #e2e2e3;
    padding-bottom: 13px;
    margin-bottom: 13px;
}

.main-21 li:last-child {
    border: none;
    margin-bottom: 0;
}

.main-21 li .title {
    margin: 0;
    line-height: 20px;
}

.main-21 li a {
    font-size: 14px;
    font-weight: 700;
}

.main-21 li time {
    display: inline-block;
    width: 100%;
    font-size: 11px;
    margin: 5px 0;
}

.main-21 li time a {
    font-size: 12px;
    color: #145072;
    font-weight: normal;
}

.main-31 {
    display: inline-block;
    width: 100%;
}

.main-31 .letter {
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    border-bottom: 2px solid #151515;
    border-top: 1px solid #e2e2e2;
}

.main-31 .letter .cat {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    margin: 8px 0;
}

.main-31 .letter .cat a {
    color: #405f9d;
}

.main-31 .title {
    margin: 5px 0;
}

.main-31 .title a {
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
}

.main-31 .photo {
    margin-right: 8px;
}

.main-31 ul.list-point li:before {
    content: '';
    display: inline-block;
    float: left;
    width: 2px;
    height: 2px;
    border-radius: 2px;
    background: #000;
    position: relative;
    top: 9px;
}

.main-31 ul.list-point li .title {
    padding-left: 5px;
    margin: 6px;
}

.main-31 ul.list-point li .title a {
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
}

.box-paper {
    border: 1px solid #e2e2e3;
    margin: 15px 0 15px 0;
    position: relative;
    padding: 15px 8px;
}

.box-paper .little {
    text-transform: uppercase;
    color: #000;
    font-weight: bold;
    position: absolute;
    top: -9px;
    left: 9px;
    background-color: #FFF;
    padding: 0 9px;
    font-size: 14px;
}

.box-paper .photo {
    position: relative;
    display: inline-block;
    height: 180px;
    overflow: hidden;
}

.box-paper .photo .title {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 5px;
    color: #FFF;
    background: rgba(0, 0, 0, 0.6);
    font-weight: normal;
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    line-height: 20px;
}

.ttdn {
    display: inline-block;
    width: 100%;
    position: relative;
    background: #f0f0f0;
    background: linear-gradient(#f0f0f0, #f8f8f8);
    margin-top: 13px;
    padding-top: 8px;
}

.ttdn .little {
    text-transform: uppercase;
    color: #405f9d;
    font-weight: bold;
    position: absolute;
    top: 8px;
    left: 0;
    background-color: #f0f0f0;
    padding: 0 9px;
    font-size: 15px;
}

.ttdn ul {
}

.ttdn ul li {
    display: inline-block;
    max-width: 170px;
}

.ttdn ul li .title {
    margin: 8px 0;
}

.ttdn ul li .title a {
    font-size: 13px;
    line-height: 18px;
}

footer {
    display: inline-block;
    width: 100%;
    background: #E9E9E9;
    border-top: 3px solid rgba(0, 0, 0, 0.1);
    margin-top: 0px;
    padding-bottom: 13px;
}

footer .nav-footer {
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #dedede;
    margin-bottom: 13px;
    position: relative;
}

footer .nav-footer li {
    display: inline-block;
    float: left;
    padding: 13px 12px 13px 0;
}

footer .nav-footer li a {
    font-size: 11px;
    font-weight: 600;
    color: #333;
}

footer .nav-footer li a:hover {
    color: #ed1c24;
}

footer .nav-footer li:last-child a {
    font-size: 18px;
    position: absolute;
    top: 9px;
    right: 0;
}

footer .nav-footer li:last-child {
    padding-right: 0;
}

footer .info p {
    font-size: 12px;
    color: #333;
    line-height: 22px;
    margin: 0;
}

.list-child {
    display: inline-block;
}

.list-child li {
    display: inline-block;
    float: left;
}

.list-child li a {
    font-size: 13px;
    color: #405f9d;
}

.list-child li span {
    margin: 0 5px
}

.paging {
    display: inline-block;
    width: 100%;
    text-align: center;
    border-top: 1px solid #e2e2e3;
    padding-top: 38px;
    margin-bottom: 23px;
}

.paging a {
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    border: 1px solid #DDD;
    color: #ed1c24;
    padding: 5px 12px;
}

.paging a:hover, .paging a.active {
    background: #F2F2F2;
}

article h1 {
    font-size: 25px;
    font-weight: bold;
    color: #333;
    line-height: 32px;
    margin: 0;
}

article .sapo {
    font-size: 14px;
    color: #333;
    line-height: 21px;
    margin: 0;
    margin-bottom: 8px;
    font-weight: 700;
}

article .reg-date {
    display: inline-block;
    width: 100%;
    font-size: 12px;
    color: #AAA;
    line-height: 20px;
    margin: 6px 0;
}

.related-letter {
    display: inline-block;
    width: 100%;
    font-weight: bolder;
    margin: 8px 0;
    font-size: 13px;
}

.list-related {
    display: inline-block;
    width: 100%;
    margin-bottom: 8px;
}

.list-related li {
    border-bottom: 1px solid #DDD;
}

.list-related li .title {
    display: inline-block;
    width: 100%;
    font-weight: normal;
    margin: 8px 0;
    line-height: 17px;
}

.list-related li:first-child .title {
    font-weight: bolder;
}

.list-related li:last-child {
    border: none;
}

article .content {
    font-size: 15px;
    color: #000;
    line-height: 22px;
}

article .content a {
    color: #093d72;
}

article .content img {
    max-width: 100%;
}

article .content .wp-caption-text {
    width: 485px;
}

article .tags {
    display: inline-block;
    width: 100%;
    background: #eee;
    padding: 7px 10px 6px 10px;
    box-sizing: border-box;
    margin-top: 12px;
    margin-bottom: 27px;
}

article .tags a {
    display: inline-block;
    background: #FFF;
    color: #555;
    font-size: 10px;
    text-transform: uppercase;
    padding: 0 5px;
    line-height: 18px;
    border: 1px solid #cdcdcd;
}

article .tags span {
    font-size: 13px;
    color: #555;
    font-weight: bold;
    line-height: 24px;
}

.others {
    display: inline-block;
    width: 675px;
    margin-top: 23px;
    margin-bottom: 13px;
}

.yarpp-title {
    font-weight: bolder;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    border-top: 1px solid #ddd;
}

.yarpp-title span {
    display: inline-block;
    background: #FFF;
    padding: 0 15px;
    position: relative;
    top: -13px;
}

.others .title {
    display: inline-block;
    margin: 8px 0;
}

.bxslider li .item {
    display: block;
    width: 100%;
    text-align: center;
}

.bxslider li a {
    display: inline-block;
    position: relative;
}

.bxslider a h2 {
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
    color: #F2F2F2;
    font-size: 14px;
    padding: 8px 13px;
    font-family: Arial;
    font-weight: normal;
    text-align: left;
    line-height: 21px;
}

#bx-pager a {
    display: inline-block;
    border: 1px solid #e2e2e2;
    padding: 1px;
    position: relative;
}

#bx-pager a.first {
    margin-left: 1px;
}

#bx-pager a.active {
    border: 2px solid #d21a05;
    padding: 0;
}

@-moz-document url-prefix() {
    .col680 .headline ul li h2 {
        display: inline-block;
    }
    footer .nav-footer li {
        padding-right: 23px;
    }
}

#block_docnhieu .main-11 .list li:first-child .title a {
    font-weight: normal !important;
}

#multimedia_box {
    background: #f0f0f0;
    background: linear-gradient(#f0f0f0, #f8f8f8);
    padding: 8px 0px;
    box-sizing: border-box;
}

#multimedia_box .main-12 .title {
    background: #405f9d;
    margin: 0;
    width: 440px;
    padding: 8px;
}

#multimedia_box .main-12 h1.title a {
    color: #FFF;
    font-size: 16px;
}

#box_lichphat {
    background: #FFF;
    margin-top: 0px;
}

#box_lichphat .list li {
    float: none;
    width: 100%;
    margin-right: 0;
}

#box_lichphat .little {
    top: -15px;
    padding: 5px 9px;
}

#box_lichphat .list li span {
    font-weight: bold;
    font-size: 11px;
    color: #ed1c24;
    width: 40px;
    display: inline-block;
    margin-top: 3px;
}

#box_lichphat .list li a {
    font-size: 12px;
    color: #333;
    line-height: 14px;
    width: 240px;
    float: right;
    margin: 0;
}

#box_lichphat .lptab {
    position: absolute;
    top: -15px;
    right: 0;
    font-size: 11px;
}

#box_lichphat .lptab a.active {
    font-weight: bold;
    text-decoration: none;
}

.icon_time {
    display: inline-block;
    width: 13px;
    height: 12px;
    background: url(../images/icon_time.jpg);
    position: relative;
    top: 1px;
}

.icon_home {
    display: inline-block;
    width: 18px;
    height: 18px;
    background: url(../images/icon_home.jpg);
    position: relative;
    top: -2px;
    left: 2px;
}

.home.active .icon_home, .home:hover .icon_home {
    background: url(../images/icon_home_hover.jpg);
}

article .content img {
    max-width: 500px;
}

#latest-in-day {
    max-height: 350px;
    overflow-y: hidden;
}

#latest-in-day .one {
    display: inline-block;
    width: 100%;
    margin-top: 5px;
}

#latest-in-day p.des {
    display: inline-block;
    width: 184px;
    margin-left: 10px;
    margin-bottom: 0;
    height: 45px;
    overflow: hidden;
}

#latest-in-day p.des a {
    text-decoration: none;
    line-height: 15px;
}

.titile-wt {
    color: #183a52;
    background: url(../images/weather.png) no-repeat;
    width: 128px;
    height: 36px;
    text-transform: uppercase;
    padding: 0px 10px 10px 0
}

.box-slt {
    padding: 0;
    margin-top: 0;
    display: inline-block;
    width: 100%;
}

.box790px .slt-city {
    margin-bottom: 10px;
}

.slt-city {
    width: 135px;
    padding: 1px;
    border: 1px solid #c5c5c5;
    background: #fff;
    margin-top: 8px;
}

.box-wt li {
    float: left;
    width: 50%;
}

#box-stock {
    margin: 8px 0 0
}

#box-stock li {
    width: 135px;
}

#box-stock label {
    color: red;
    font-weight: bold
}

#temperature span {
    height: 44px;
    width: 44px;
    display: block
}

#temperature strong {
    font-size: 18px;
    margin: 17px 0px 0 10px;
    padding-right: 10px;
    display: block;
}

#temperature .text-wt {
    color: #555;
    width: 118px;
    margin-top: 7px;
    margin-left: 10px;
}

.box-wt .city-name {
    margin: 0;
    font-size: 12px;
    font-weight: normal;
    position: absolute;
    top: 0;
    right: 0;
    color: #666;
}

.source-stock {
    background: #eee;
    padding: 5px;
    font-size: 11px;
    color: #666;
    border: 1px solid #ccc;
    border-bottom: none
}

.tbl-gold {
    width: 100%;
    border-collapse: collapse;
}

.tbl-gold td {
    text-align: left;
    border: 1px solid #ccc;
    padding: 2px
}

.tbl-gold td.first {
    background: #f0f0f0
}

.tbl-stock {
    width: 100%;
    border-collapse: collapse;
}

.tbl-stock th {
    color: #555;
    font-weight: bold;
    text-align: center;
    border: 1px solid #ccc;
    padding: 2px 3px;
    font-size: 12px;
}

.tbl-stock td {
    text-align: center;
    border: 1px solid #ccc;
    padding: 1px
}

.tab-stock {
    height: 20px
}

.tab-stock a {
    text-align: center;
    position: relative;
    text-transform: uppercase;
    font-weight: bold;
    color: #666666;
    padding: 3px 10px;
    text-decoration: none;
    display: inline-block;
    font-size: 11px;
}

.tab-stock a.activeLink {
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
    border: 1px solid #ccc;
    border-bottom: 0;
    color: #004276;
    padding: 3px 10px;
}

li.li_change {
    display: none;
    position: relative;
}

li.li_change.active {
    display: block;
}

#li_change_0 {
    display: block !important;
}

.clear {
    clear: both;
}

.related_sapo {
    position: relative;
    padding-left: 8px;
    margin: 8px 0;
    font-weight: bold;
}

.related_sapo a {
    color: #3b5998 !important;
}

.related_sapo a:after {
    content: "";
    background: #666;
    width: 3px;
    height: 3px;
    position: absolute;
    left: 0;
    top: 5px;
}

div#wrapx {
    width: 100%;
    text-align: center;
    height: 65px;
    position: fixed;
    bottom: 0;
}

div.three-images {
    width: 100%;
    margin: 0 auto;
    position: relative;
}

div.three-images div {
    position: absolute;
}

div.image-1 {
    background: url('/ads/law_left.png') repeat-x;
    width: 30%;
    height: 100px;
    left: 0;
    z-index: 1;
}

div.image-2 {
    width: 1000px;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 2;
}

div.image-3 {
    background: url('/ads/law_right.png') repeat-x;
    width: 30%;
    height: 130px;
    right: 0;
    z-index: 1;
}
