body {
    background-color: #BDBDBD;
}

#loginform {
    width: 500px;
    height: 330px;
    margin-top: 100px;
    background-color: #16a085;
    border-radius: 3px;
    box-shadow: 0px 0px 10px 0px #424242;
    padding: 10px;
    box-sizing: border-box;
    font-family: helvetica;
    visibility: hidden;
    display: none;
}

#loginform #close_login {
    position: absolute;
    top: 140px;
    left: 735px;

}

#loginform p {
    margin-top: 40px;
    font-size: 22px;
    color: #E6E6E6;
}

#loginform #login {
    width: 250px;
    height: 40px;
    border: 2px solid silver;
    border-radius: 3px;
    padding: 5px;
}

#loginform #password {
    margin-top: 5px;
    width: 250px;
    height: 40px;
    border: 2px solid silver;
    border-radius: 3px;
    padding: 5px;
}

#loginform #dologin {
    margin-left: -5px;
    margin-top: 10px;
    width: 250px;
    height: 40px;
    border: none;
    border-radius: 3px;
    color: #E6E6E6;
    background-color: #c0392b;
    font-size: 20px;
}